<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocation" version="1.0.1" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="ComponentAce.Compression.Libs" version="1.0.3.0" targetFramework="net452" />
  <package id="DiskQueue" version="1.2.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Common" version="5.0.414.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.0" targetFramework="net452" />
  <package id="GRT.EM.WCF.Client" version="2.201706.1917490.1-CI" targetFramework="net452" />
  <package id="GRT.Framework" version="2.201806.2124445.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Logging" version="2.201806.2124445.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.MQ" version="2.201806.2124456.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.MSMQ" version="2.201609.184760.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.App" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.App.Interface" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Base" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Base.Interface" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Central" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Central.Interface" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Factory" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Factory.Interface" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="Grt.Framework.Protocol.Services" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="Grt.Framework.Protocol.Services.Interface" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Unit" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Protocol.Unit.Interface" version="2.201806.2124449.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Service.Interface" version="2.201806.1024152.1-CI" targetFramework="net452" />
  <package id="GRT.Framework.Templating" version="2.201806.2124445.1-CI" targetFramework="net452" />
  <package id="Grt.Infrastructure.Logging.Common" version="2.201806.1024135.1-CI" targetFramework="net452" />
  <package id="Grt.Infrastructure.Logging.Sending" version="2.201806.1024135.1-CI" targetFramework="net452" />
  <package id="GRT.Infrastructure.Messaging" version="2.201811.2227114.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Api.Common" version="2.201811.426518.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Api.OdiMock" version="2.201811.426518.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Common.Logger" version="2.201811.28.2-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Common.MTM" version="2.201811.28.2-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Common.TestFixtures" version="2.201811.28.2-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Common.Utils.DataSource" version="2.201811.28.2-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Helpers.BackEnd.Alerts" version="2.201805.13.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Helpers.BackEnd.ParserCommon" version="2.201805.13.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.ServiceUtils.AdaptorsManager" version="2.201811.13.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.ServiceUtils.Common" version="2.201808.28.2-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.ServiceUtils.Win32Services" version="2.201808.28.2-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Simulation.LinqpadUtils.Common" version="2.201811.4.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Simulation.LinqpadUtils.V5Sender" version="2.201811.4.1-CI" targetFramework="net452" />
  <package id="GRT.QA.Infra.Simulation.V5TripCompiler" version="2.201811.4.1-CI" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="6.1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Razor" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.17.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.5" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.5" targetFramework="net452" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="15.131.1" targetFramework="net452" />
  <package id="Microsoft.TeamFoundationServer.Client" version="15.131.1" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.131.1" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="15.131.1" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="protobuf" version="2.0.50727" targetFramework="net452" />
  <package id="protobuf-net" version="2.0.0.640" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.0.8" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.5" targetFramework="net452" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
  <package id="Unity" version="2.1.505.0" targetFramework="net452" />
  <package id="Unity.Interception" version="2.1.505.0" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net452" />
</packages>